.products-hero {
  background-image: url("/img/keyboard2.jpg");
  min-height: 330px;
  background-size: cover;
  margin-top: 40px;
  padding-top: 180px;
  background-repeat: no-repeat;
  background-position: center;

  h1,
  h2 {
    text-align: center;
    color: $white;
    text-transform: uppercase;
  }
  h1 {
    font-size: 24px;
    font-weight: 400;
  }

  h2 {
    font-size: 92px;
    font-weight: 500;
    background: linear-gradient(
      90deg,
      rgba(255, 165, 161, 1) 10%,
      rgba(156, 75, 255, 1) 50%,
      rgba(64, 190, 255, 1) 90%
    );
    animation: hue 4s infinite linear;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 4s infinite linear;
    @keyframes hue {
      0% {
        -webkit-filter: hue-rotate(0deg);
      }
      100% {
        -webkit-filter: hue-rotate(360deg);
      }
    }
  }
}
